.posts-container{
    height: max-content;
    background-color: #CAD2C5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 108px;
    padding-left: 20%;
    padding-right: 20%;
}