// Styling for the this calculate food page. Works responsively till 500px
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.heading{
    text-align: center;
    height: 44px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 30px;
}
.overall-co2{
    width: 200px;
    height: 200px;
    background-color: #354F52;
    font-family: Lato;
    font-size: 55px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
}
.co2text{
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    background-color: #354F52;
}

.fields-container{
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.field{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 70px;
    border-radius: 25px;
}

.field2{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    border-radius: 25px;
}
.quantity-box{
    background: #D5DBD1;
}
.buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}
.submit-button{
    width: 120px;
    height: 50px;
    background: #84A98C;
    //border-radius: 25px;
    font-family: Lato;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 15px;
    padding-top: 5px;
}
.add-button{
    margin-left: 42px;
    width: 50px;
    height: 35px;
    background: #84A98C;
    font-family: Lato;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.inner-tb-container{
    background-color: #354F52;
    width: 600px;
    align-content: center;
    margin-bottom: 100px;
    margin-left: 36%;
    padding-left: 30px;
    padding-top: 30px;
    margin-top: 40px;
}

.formStyle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.nameTitle{
    width: 100px;
    height: 44px;
    font-family: Lato;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 24px;
    padding-top: 20px;
    margin-left: 20px;
}

.nameTextbox{
    width: 300px;
    height: 40px;
    background: #D5DBD1;
    border: 1px solid #2F3E46;
    box-sizing: border-box;
    margin-bottom: 39px;
    margin-left: 20px;
}

.directionTitle{
    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 24px;
    margin-left: 20px;
}

.directionTextbox{
    width: 500px;
    height: 246px;
    background: #D5DBD1;
    border: 1px solid #2F3E46;
    box-sizing: border-box;
    margin-bottom: 39px;
    margin-left: 20px;
    padding-top: 0px;
    padding-bottom:200px;
}

.submitButton{
    width: 120px;
    height: 50px;
    background: #84A98C;
    //border-radius: 25px;
    font-family: Lato;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-top: 20px;
}