.dashboard{
    display: flex;
    flex-direction: row;
    .left-section{
        width: 30%;
        height: 100vh;
        background-color: #CAD2C5;
        .tracker{
            text-align: center;
            padding-top: 75px;
            padding-bottom: 50px;
        }
        .buttons{
            display: flex;
            flex-grow: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            text-align: center;
            font-family: Lato;
            font-size: 15px;
            line-height: 18px;
            color: #FFFFFF;
            .button{
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 120px;
                height: 36px;
                background: #354F52;
                border-radius: 25px;
            }
        }
    }
    .right-section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 70%;
        height: 100vh;
        background-color: #405F63;
        .posts{
            margin-top: 59px;
        }
    }
      
}