.screenContainer{

}

.back{
    margin-top: 20px;
    margin-left: 10px;
    //color: green;
}

.friendProfCol{
    
}

.col{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.friendProfPic1{
    margin-left: 250px;
}

/*.userName1{
    font-size: large;
}*/

.friendName1{
    font-size: large;
    margin-left: 325px;
    margin-top: 20px;
}

.col2{
    margin-left: 700px;
    margin-top: -250px;
}

.friendRecipesCol{
    margin-top: 30px;
}

.friendRec{
    font-size: large;
    margin-left: 115px;
}

.friendRecipeBox{
    margin-top: 20px;
    width: 350px;
    height: 300px;
}