.screenContainer{

}

.back{
    margin-top: 20px;
    margin-left: 10px;
    //color: green;
}

.friendProf{
    margin-top: -30px;
}

.col1{
    margin-left: 300px;
    margin-top: 50px;
}

.friendProfPic{

}

.friendName{
    font-size: large;
    margin-left: 35px;
}

.col2{
    margin-left: 700px;
    margin-top: -250px;
}

.friendRecipes{

}

.friendRec{
    font-size: large;
    margin-left: 115px;
}

.friendRecipeBox{
    margin-top: 20px;
    width: 350px;
    height: 300px;
}