.NavbarItems {
    background: #84A98C;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.navbar-logo {
    color: white;
    justify-self: start; 
    margin-left: 10px;
    margin-right: 10px; 
    font-size: 1rem;
    cursor: pointer;
}

