

.NavbarItems {
    background: #84A98C;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.navbar-logo {
    color: white;
    justify-self: start;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
    cursor: pointer;
}


.GoogleBtn{
    justify-content: right;
    align-items: center;
    margin-left: 2rem;
}

.nav-menu{
    display:grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
}

.nav-links{
    color: white;
    text-decoration: none;
    margin-top: 0px;
    padding: 0.5 rem 0 rem;
}

.nav-links:hover{
    background-color: #94b98f;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: white;
}



@media (max-width: 960px) {

}