.baseline {
    height: 96px;
    mix-blend-mode: normal;
    //background-color: #CAD2C5;
    object-fit: cover;
    width: 96px;
  }
  .calculate-food {
    align-items: center;
    background-color: var(--celeste);
    display: flex;
    flex-direction: column;
    height: 1512px;
    mix-blend-mode: normal;
    width: 1152px;
  }
  .cancel {
    align-items: center;
    letter-spacing: 0;
    min-height: 27px;
    min-width: 158px;
    margin-left: 600px;
    margin-right: 200px;
    mix-blend-mode: normal;
    text-align: center;
    width: 158px;
  }
  .submit {
    align-items: center;
    letter-spacing: 0;
    margin-left: 500px;
    min-height: 27px;
    min-width: 158px;
    mix-blend-mode: normal;
    text-align: center;
    width: 158px;
  }
  .carbon-cutters-2021 {
    letter-spacing: 0;
    min-height: 27px;
    mix-blend-mode: normal;
    width: 202px;
  }
  .flex-row {
    align-items: flex-start;
    display: flex;
    height: 46px;
    margin-top: 20px;
    min-width: 522px;
  }
  .flex-row-1 {
    align-items: flex-start;
    display: flex;
    height: 38px;
    margin-right: 2.0px;
    margin-top: 28px;
    min-width: 692px;
  }
  .flex-row-2 {
    align-items: flex-start;
    display: flex;
    height: 44px;
    margin-right: 376.0px;
    margin-top: 71px;
    min-width: 318px;
  }
  .flex-row-3 {
    align-items: flex-start;
    display: flex;
    margin-right: 1.0px;
    margin-top: 29px;
    min-width: 693px;
  }
  .flex-row-4 {
    align-items: flex-start;
    display: flex;
    margin-right: 1.0px;
    margin-top: 47px;
    min-width: 499px;
  }
  .flex-row-5 {
    align-items: flex-start;
    display: flex;
    height: 38px;
    margin-right: 2.0px;
    margin-top: 29px;
    min-width: 692px;
  }
  .flex-row-6 {
    align-items: flex-start;
    display: flex;
    margin-right: 22.0px;
    margin-top: 93px;
    min-width: 554px;
  }
  .food {
    font-size: 150%;
    align-self: flex-end;
    //align-items: center;
    letter-spacing: 0;
    margin-left: -30px;
    min-height: 44px;
    min-width: 169px;
    mix-blend-mode: normal;
    text-align: center;
    width: 169px;
  }
  .item {
    letter-spacing: 0;
    font-size: 120%;
    margin-left: 175px;
    min-height: 44px;
    mix-blend-mode: normal;
    width: 139px;
  }
  .overlap-group { //this is food image
    align-items: center;
    background-color: #51777b;
    //background-color: #CAD2C5;
    border-radius: 25px;
    display: flex;
    height: 146px;
    width: 146px;
    justify-content: flex-end;
    min-width: 146px;
    padding: 0 25px;
  }
  /*.overlap-group1 {
    height: 45px;
    margin-top: 26px;
    background-color: #51777b;
    position: relative;
    width: 118px;
  }*/
  /*.overlap-group2 {
    align-items: flex-start;
    //background-color: var(--bay-leaf);
    background-color: #51777b;
    display: flex;
    height: 66px;
    justify-content: flex-end;
    min-width: 1152px;
    padding: 10px 26px;
  }*/
  .overlap-group3 { //this is the transportation button
    align-items: center;
    //background-color: #405f63;
    background-color: #51777b;
    border-radius: 25px;
    display: flex;
    height: 146px;
    width: 146px;
    justify-content: flex-end;
    margin-left: 207px;
    min-width: 146px;
    padding: 0 24px;
  }
  .overlap-group4 {
    align-items: flex-start;
    background-size: 100% 100%;
    //background-color: #51777b;
    display: flex;
    height: 66px;
    justify-content: flex-end;
    margin-top: 339px;
    min-width: 1152px;
    padding: 19px 474px;
  }
  /*.overlap-group5 { //background submit
    align-items: flex-start;
    //background-color: var(--limed-spruce);
    border-radius: 25px;
    background-color: #51777b;
    display: flex;
    height: 60px;
    justify-content: flex-end;
    min-width: 200px;
    padding: 8px 20px;
  }*/
  /*.overlap-group6 { //background cancel
    align-items: flex-start;
    background-color: var(--limed-spruce);
    background-color: #51777b;
    border-radius: 25px;
    display: flex;
    height: 60px;
    justify-content: flex-end;
    margin-left: 154px;
    min-width: 200px;
    padding: 8px 20px;
  }*/
  /*.pngtreenordic-p-plant3799519-2 {
    align-self: flex-end;
    height: 45px;
    mix-blend-mode: normal;
    object-fit: cover;
    width: 45px;
  }*/
  /*.profile {
    letter-spacing: 0;
    margin-left: 941px;
    //margin-left: 184px;
    margin-top: 6px;
    min-height: 19px;
    mix-blend-mode: normal;
    width: 79px;
  }*/
  .quantity {
    letter-spacing: 0;
    font-size: 120%;
    margin-left: 400px;
    min-height: 44px;
    min-width: 139px;
    mix-blend-mode: normal;
    width: 139px;
  }
  .rectangle-1 { //left side boxes
    //background-color: var(--quill-gray);
    //background-color: #51777b;
    height: 37px;
    margin-left: 400px;
    //margin-right: 500px;
    mix-blend-mode: normal;
    width: 118px;
  }
  .rectangle-1-1 { //right side boxes
    align-self: flex-end;
    //background-color: var(--quill-gray);
    //background-color: #51777b;
    height: 37px;
    margin-left: 200px;
    mix-blend-mode: normal;
    width: 514px;
  }
  /*.rectangle-19 { //right side last box
    align-self: flex-end;
    //background-color: var(--quill-gray);
    //background-color: #51777b;
    height: 37px;
    margin-left: 200px;
    mix-blend-mode: normal;
    width: 514px;
  }*/
  /*.rectangle-3 {
    background-color: var(--limed-spruce);
    background-color: #51777b;
    border-radius: 25px;
    height: 37px;
    left: 0;
    mix-blend-mode: normal;
    position: absolute;
    top: 8px;
    width: 118px;
  }*/
  
  .text-1 {
    text-align: center;
    font-size: 120%;
    letter-spacing: 0;
    margin-left: 2.0px;
    margin-top: 64px;
    min-height: 44px;
    min-width: 356px;
    mix-blend-mode: normal;
    width: 356px;
  }
  .text-2 {
    left: 12px;
    letter-spacing: 0;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 96px;
  }
  .transportation {
    color: var(--black);
    //background-color: var(--celeste);
    font-family: var(--font-family-lato);
    //font-size: var(--font-size-xl);
    font-size: 150%;
    //font-weight: 700; //bold
    letter-spacing: 0;
    margin-left: 184px;
    min-height: 44px;
    min-width: 169px;
    mix-blend-mode: normal;
    text-align: center;
    width: 169px;
  }
  
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
  @import url("https://fonts.googleapis.com/css?family=Taviraj:400,700|Lato:400,300,700");
  * {
    box-sizing: border-box;
  }
  .container-center-horizontal {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .container-center-horizontal > * {
    pointer-events: auto;
    flex-shrink: 0;
  }
  .screen a {
    text-decoration: none;
    display: contents;
  }
  